  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-item-container">
      <a href="/">
        HOME
      </a>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-item-container">
      <a href="/programs">
        ALL PROGRAMS
      </a>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-item-container">
      <a href="/programs/new">
        ADD PROGRAM
      </a>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-item-container">
      <a href="/exercises/new">
        EXERCISES
      </a>
    </div>
    <div class="nav-divider"></div>
    <% if (user) { %>
      <div class="nav-item-container">
        <a href="/auth/logout" class="right">
          <button  id="logout-btn" type="submit">Logout</button>
        </a>
      </div>
    <% } else { %>
      <div class="nav-item-container">
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
    <% } %>
  </nav>
