  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-item-container">
      <a class="nav-item" href="/">
        <img src="/assets/logo.png" alt="Muscle Memories Logo">
      </a>
    </div>
    <div class="nav-item-container">
      <a class="nav-item" href="/posts">
        FORUM
      </a>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-item-container">
      <a class="nav-item" href="/programs">
        ALL PROGRAMS
      </a>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-item-container">
      <a class="nav-item" href="/programs/new">
        ADD PROGRAM
      </a>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-item-container">
      <a class="nav-item" href="/exercises/new">
        EXERCISES
      </a>
    </div>
    <div class="nav-divider"></div>
    <% if (user) { %>
      <div class="nav-item-container">
        <div class="logout-container">
          <a href="/auth/logout" class="right">
            <button id="logout-btn" type="submit">👋</button>
          </a>
        </div>
      </div>
    <% } else { %>
      <div class="nav-item-container">
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="icon"
          data-size="large"
          data-theme="filled_blue"
          data-text="sign_in_with"
          data-shape="circle"
          data-logo_alignment="left"
        ></div>
      </div>
    <% } %>
  </nav>
