html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

main {
  margin-left: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  width: 90vw;
  background-color: lightgray;
  color: #343a40;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #9a031e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  min-height: 60px;
  font-size: .6rem;
  border-bottom: 2px solid #ffd500;
  width: 90vw;
  position: fixed;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: auto;
  text-align: center;
  text-justify: center;
}

nav .nav-item:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #ffd500;
  font-size: .7rem;
  cursor: pointer;
}

.nav-item-container {
  width: 15%;
  display: flex;
  justify-content:center;
}

.nav-divider {
  border-right: 1px solid white;
  border-color: #ffd500;
  height: 35px;
  background: white;
  margin: 0px 7px;
}

a {
  text-decoration: none;
  color: #9a031e;
  font-weight: bold;
}

.nav-buffer {
  padding-top: 60px;
  text-align: center;
}

#logout-btn {
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  padding: 3px;
  border-radius: 5px;
  color: white;
  background-color: #4C8BF5;
  border: 1px solid white;
  font-size: 11px;
}

#logout-btn:hover {
  color: #4C8BF5;
  background-color: white;
  cursor: pointer;
}

.step-a:hover {
  border-bottom: 2px solid #ffd500;
  font-size: 1.3em;
}

#step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffd500;
  border-radius: 10px;
  padding: 10px;
}

#step-container div {
  font-weight: bold;
  text-align: center;
  text-justify: center;
}