html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  width: 90vw;
  background-color: lightgray;
  color: #343a40;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #9a031e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  min-height: 60px;
  font-size: .6rem;
  border-bottom: 5px solid gold;
  width: 90vw;
  position: fixed;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: auto;
  text-align: center;
  text-justify: center;
}

nav img {
  display: none;
  position: absolute;
  left: 2%;
  top: 22%;
  border-radius: 10px;
}

nav .nav-item:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid gold;
  font-size: .7rem;
  cursor: pointer;
}

.nav-item-container {
  display: flex;
  justify-content: right;
}

.nav-divider {
  border-right: 2px solid gold;
  height: 35px;
  margin: 0px 3px;
}

a {
  text-decoration: none;
  color: #9a031e;
  font-weight: bold;
}

.nav-buffer {
  padding-top: 60px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(169, 169, 169);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  font-family: 'Kalam', 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 25px 0px 15px 0px;
}

#logout-btn {
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  padding: 7px 10px;
  color: white;
  background-color: #4C8BF5;
  border: 2px solid white;
  font-size: 16px;
  border-radius: 50%;
}

#logout-btn:hover {
  color: #4C8BF5;
  background-color: white;
  cursor: pointer;
  border: 2px solid #4C8BF5;
}

.step-a:hover {
  border-bottom: 2px solid gold;
  font-size: 1.3em;
}

#step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed gold;
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px gray);
}

#step-container div {
  font-weight: bold;
  text-align: center;
  text-justify: center;
}

#step-container div em {
  text-decoration: underline;
  text-decoration-color: #9a031e;
  text-decoration-thickness: 2px;
}

.kalam-font {
  font-family: 'Kalam', 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
}

h4.kalam-font {
  font-size: 1.2rem;
  margin: 0px;
}

@media (min-width: 500px) {
  nav {
    font-size: .8rem;
  }
  nav .nav-item:hover {
    font-size: .9rem;
  }
  .nav-divider {
    margin: 0px 10px;
  }
}

@media (min-width: 700px) {
  nav img {
    display: flex;
    width: 120px;
    height: 25px;
    top: 28%;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1400px;
  }
  nav {
    font-size: 1rem;
    max-width: 1400px;
  }

  nav .nav-item:hover {
    font-size: 1.1rem;
  }
  nav img {
    display: flex;
    width: 160px;
    height: 32px;
    top: 24%;
    border-radius: 10px;
  }
  .nav-divider {
    margin: 0px 15px;
  }
}