#edit-program-form {
  width: 100%;
}

#edit-program-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  border-radius: 15px;
  padding: 15px 0px;
  background-color: #153243;
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

label {
  font-weight: bold;
  margin: 15px;
}

textarea {
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid darkgray;
  width: 75%;
  margin: 5px 0px;
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
}

.submit-btn {
  background-color: #153243;
  color: gold;
  border: 2px solid gold;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 1em;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: gold;
  border: 2px solid #153243;
  color: #153243;
}

input, select, textarea {
  padding: 5px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 5px;
  text-align: center;
  background-color: #284B63;
  color: white;
}

input, select {
  width: 20%;
}

