#new-program-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  border-radius: 15px;
  padding: 15px 0px;
  background-color: #153243;
  text-align: center;
  margin-bottom: 25px;
  filter: drop-shadow(5px 5px 5px #B4B8AB);
  color: white;
}

label {
  font-weight: bold;
  margin: 15px;
}

textarea {
  padding: 5px;
  background-color: #284B63;
  border-radius: 5px;
  border-right: 1px solid gold;
  border-bottom: 1px solid gold;
  width: 75%;
  margin: 5px 0px;
  height: 30px;
  color: white;
}

.submit-btn {
  background-color: #284B63;
  padding: 0px 5px;
  border: 2px solid gold;
  color: gold;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: gold;
  border: 2px solid #153243;
  color: #284B63;
}

input, select {
  width: 20%;
  padding: 5px;
  border-right: 1px solid gold;
  border-bottom: 1px solid gold;
  background-color: #284B63;
  border-radius: 5px;
  text-align: center;
  color: white;

}

select {
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
}