#show-container {
  width: 100%; 
  font-size: 12px;
  text-align: center;
  text-justify: center;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  background-color: #153243;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  filter: drop-shadow(5px 5px 5px #B4B8AB);
  color: white;
}

.btn {
  padding: 2px 5px;
  margin: 0px 5px;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

#overview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  margin-bottom: -10px;
  height: 90px;
}

.overview-div {
  border-bottom: 1px solid gold;
  border-right: 1px solid gold;
  border-radius: 10px;
  background-color: #284B63;
  width: 20%;
  margin: 0px 5px;
  height: 100%;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-container, .exercise-card {
  width: 75%;
  padding: 10px 0px 5px 0px;
}

.note-container div, .workout-card {
  margin: 5px 0px;
  padding: 10px;
  background-color: #284B63;
  border-radius: 10px;
}

.note-container div {
  border-right: 1px solid #B4B8AB;
  border-bottom: 1px solid #B4B8AB;
}

.workout-card {
  border-right: 1px solid gold;
  border-bottom: 1px solid gold;
  background-color: #284B63;
  width: 80%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(3px 3px 3px #B4B8AB);
}

.workout-card table{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-card table tr td {
  border-bottom: 1px dashed gold;
  padding: 5px 0px;
}

.workout-card table th {
  border-bottom: 1px solid #B4B8AB;
}

.add-exercise-to-workout {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #153243;
  width: 80%;
}

.add-exercise-to-workout form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-exercise-pair {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 90%;
  max-width: 150px;
}

.add-exercise-pair em {
  font-weight: 400;
}

.add-exercise-to-workout form div input, .add-exercise-to-workout form div select {
  margin-top: 5px;
  max-width: 125px;
}

input, select {
  padding: 3px;
  border-radius: 5px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  background-color: #284B63;
  color: white;
}

.add-exercise-btn, .add-review-btn, .add-workout-btn {
  background-color: #284B63;
  padding: 0px 5px;;
  border: 2px solid gold;
  color: gold;
  font-size: 20px;
  margin-left: 10px;
}

.add-exercise-btn:hover, .add-review-btn:hover, .add-workout-btn:hover {
  cursor: pointer;
  background-color: gold;
  border: 2px solid #153243;
  color: #284B63;
}

#add-workout-form-container, #new-review-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-workout-form-container input, #add-workout-form-container button{
  margin-top: 5px;
}

#add-workout-form-container input {
  width: 60%;
}

#add-workout-form-item-container {
  display: flex;
}

#new-review-container {
  width: 75%;
  margin-bottom: 10px;
}

#new-review-container form #review-subcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-review-container form #review-sub-container .review-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-review-container form textarea {
  font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  width: 80%;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  background-color: #153243;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  color: white;
  filter: drop-shadow(3px 3px 3px #B4B8AB);
}

#new-review-container form select {
  width: 5vw;
  min-width: 40px;
  text-align: center;
  margin-top: 10px;
  padding: 3px 0px;
}

#new-review-container form button {
  margin-top: 10px;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 10px;
  background-color: #284B63;
  width: 80%;
  filter: drop-shadow(3px 3px 3px #B4B8AB);
  margin: 10px 0px;
}

.review-card h4 {
  text-decoration: underline;
  text-decoration-color: #284B63;
  margin-bottom: 10px;
  font-weight: 400;
}

.review-card .rating-text {
  margin-bottom: 10px;
  font-size: 14px;
}

#avg-review {
  margin: 15px 0px;
}

.review-content-container {
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  padding: 0px 15px;
  border-radius: 10px;
  margin-bottom : 10px;
  background-color: #153243;
  font-size: 14px;
  width: 90%;
  text-align: left;
}

.edit-form {
  display: none;
  width: 92%;
  align-items: center;
  justify-content: center;
}

.edit-form input {
  width: 100%;
  border-radius: 5px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: #153243;
}

@media (max-width: 450px) {
  .tempo {
    display: none;
  }
  .note-container, .overview-div, .workout-card, .add-exercise-to-workout form, h4, #new-review-container, #add-workout-form-container {
    font-size: 1em
  }
}

@media (max-width: 700px) {
  .note-container, .overview-div, .workout-card, .add-exercise-to-workout form, h4, #new-review-container, #add-workout-form-container  {
    font-size: 1em;
  }
}

@media (min-width: 925px) {
  .add-exercise-to-workout form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  .add-exercise-to-workout form input, .add-exercise-to-workout form select {
    width: 11vw;
  }
  .add-exercise-btn {
    position: absolute;
    bottom: 5px;
    right: -3vw;
  }
  .note-container, .overview-div, .workout-card, .add-exercise-to-workout form, h4, #new-review-container, #add-workout-form-container {
    font-size: 1.2em;
  }
}

@media (min-width: 1150px){
  .add-exercise-btn {
    right: -2.5vw;
  }
}

@media (min-width: 1450px) {
  .add-exercise-btn {
    right: -2vw;
  }
}