<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/programs/new.css">
<%- include('../partials/nav') %>
<h1 class="nav-buffer">Add a New Program</h1>
<% if (user) { %>
  <div id="new-program-form">
    <form method="POST" action="/programs">
      <label for="program-name-input">What do you want to name your program?</label>
      <input type="text" name="name" id="program-name-input">
      <div class="new-program-divider"></div>
      <label for="days-per-week-select">How many workouts per week?</label>
      <select name="daysPerWeek" id="days-per-week-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
      <div class="new-program-divider"></div>
      <label for="split-select">How are you splitting your training based on muscle group?</label>
      <select name="split" id="split-select">
        <option value="Push/Pull/Legs">Push/Pull/Legs</option>
        <option value="Upper/Lower">Upper/Lower</option>
        <option value="Full Body">Full Body</option>
        <option value="Other">Other</option>
      </select>
      <div class="new-program-divider"></div>
      <label for="program-note-textarea">Finally, let's leave a note containing any additional information you think would be pertinent to your program.</label>
      <textarea name="note" id="program-note-textarea" placeholder="Your note."></textarea>
      <button class="submit-btn" type="submit">Add Program</button>
    </form>
  </div>
<% } else { %>
  <h3>Please sign in to add a program.</h3>
<% } %>

<%- include('../partials/footer') %>