<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-exercise-form" action="/exercises" method="POST">
    <label for="exercise-name-input">Exercise Name:</label>
    <input type="text" name="name" id="exercise-name-input">
    <label for="equipment-select">Equipment:</label>
    <select name="equipment" id="equipment-select">
      <option value="barbell">Barbell</option>
      <option value="dumbbell">Dumbbell</option>
      <option value="cable">Cable</option>
      <option value="machine">Machine</option>
      <option value="bodyweight">Bodyweight</option>
      <option value="other">Other</option>
    </select>
    <label for="main-target-input">Main Targeted Muscles:</label>
    <input type="text" name="mainTargetedGroup" id="main-target-input">
    <label for="secondary-target-input">Secondary Targeted Muscles:</label>
    <input type="text"  name="secondaryTargetedGroup" id="secondary-target-input">
    <label for="fatigue-select">Estimated Fatigue Cost:</label>
    <select name="fatigueCost" id="fatigue-select">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <label for="note-input">Additional notes:</label>
    <input type="text" name="creatorNote" id="note-input">
    <button type="submit">Add Exercise</button>
  </form>
</main>

<%- include('../partials/footer') %>