.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  color: white;
  border-radius: 15px;
  padding: 15px 0px;
  background-color: #153243;
  filter: drop-shadow(5px 5px 5px #B4B8AB);
}

.post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0px 5px 0px;
  max-width: 80vw;
}

.post-container a {
  color: gold;
}

.post-container a:hover {
  font-size: 1.2em;
  border-bottom: 2px solid #B4B8AB;
}

.btn {
  background-color: #284B63;
  padding: 2px 5px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  color: gold;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: gold;
  border: 2px solid #153243;
  color: #284B63;
}

.post-divider {
  width: 60%;
  border-bottom: 3px solid #B4B8AB;
  margin-bottom: 20px;
}

#add-post-container {
  width: 75%;
}

#add-post-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-post-container input {
  background-color: #284B63;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 5px;
  color: white;
} 

.edit-form {
  display: none;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.edit-form input {
  width: 100%;
  background-color: #284B63;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: white;
}

.btn-container {
  display: flex;
  margin-top: 5px;
}

.post-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-create-input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: -8px;
}

h4 {
  padding: 10px;
  text-align: center;
}

.gold-text {
  color: gold;
  text-align: center;
}

p {
  font-size: .9em;
}