#thread-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #9a031e;
  border-bottom: 3px solid #9a031e;
  border-top: 1px solid #9a031e;
  border-left: 1px solid #9a031e;
  border-radius: 15px;
  padding: 15px 0px;
  background-color: rgb(236, 236, 236);
  filter: drop-shadow(5px 5px 3px gray);
}

#add-comment-container {
  width: 75%;
  text-align: center;
}

#add-comment-container h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#add-comment-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}

#add-comment-container textarea {
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid darkgray;
  width: 75%;
  height: 28px;
  margin: -25px 0px 20px 0px;
  filter: drop-shadow(5px 5px 3px lightgray);
}

#add-comment-subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#all-comments-container {
  width: 90%;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-info {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
  padding: 3px;
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.comment-sub-container {
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 15px;
  margin: 10px;
  background-color: white;
  filter: drop-shadow(5px 5px 3px lightgray);
}

.comment-and-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.btn-container {
  display: flex;
}

.author-name {
  color: #9a031e;
}

.btn {
  padding: 0px 5px;
  border-radius: 10px;
  margin: 5px 20px;
}

.add-btn {
  background-color: white;
  padding: 0px 5px;;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #4CAF50;
  border: 2px solid gold;
  color: white;
}

.delete-btn, .edit-btn {
  padding: 2px 5px;
}

.edit-form {
  display: none;
  width: 100%;
  justify-content: center;
}

.edit-form input {
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  margin: 10px;
  background-color: white;
  border: 1px solid gray;
}