#thread-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  border-radius: 15px;
  padding: 15px 0px;
  background-color: #153243;
  color: white;
  filter: drop-shadow(5px 5px 5px #B4B8AB);
}

#add-comment-container {
  width: 75%;
  text-align: center;
}

#add-comment-container h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#add-comment-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}

#add-comment-container textarea {
  padding: 5px;
  background-color: #284B63;
  border-radius: 5px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  width: 75%;
  height: 28px;
  margin: -25px 0px 20px 0px;
  filter: drop-shadow(5px 5px 2px #B4B8AB);
}

#add-comment-subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#all-comments-container {
  width: 90%;
  border: 2px solid gold;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  background-color: #284B63;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-info {
  border-right: 1px solid gold;
  border-bottom: 1px solid gold;
  border-radius: 10px;
  padding: 3px;
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.comment-sub-container {
  display: flex;
  width: 100%;
  border-radius: 10px;
  border-right: 1px solid gold;
  padding: 15px;
  margin: 10px;
  background-color: #153243;
  filter: drop-shadow(5px 5px 2px #B4B8AB);
  margin-top: 20px;
}

.comment-and-btn {
  width: 100%;
  display: flex;
  align-items:center;
}

.btn-container {
  display: flex;
}

.author-name {
  color: gold;
}

.btn {
  background-color: #284B63;
  padding: 0px 5px;
  border: 2px solid gold;
  color: gold;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: gold;
  border: 2px solid #153243;
  color: #284B63;
}

.edit-form {
  display: none;
  width: 100%;
  justify-content: center;
}

.edit-form input {
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  margin: 10px;
  background-color: white;
  border: 1px solid gray;
}

h4 {
  padding: 10px;
  text-align: center;
}