#exercise-page-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid gold;
  border-bottom: 3px solid gold;
  background-color: #153243;
  border-radius: 15px;
  padding: 20px 0px;
  margin-bottom: 20px;
  color: white;
  filter: drop-shadow(5px 5px 3px #B4B8AB);
}

#exercise-page-body form, #exercise-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 15px;
  padding: 15px 0px;
  background-color: #284B63;
  filter: drop-shadow(3px 3px 3px #B4B8AB);
}

#exercise-page-body form {
  max-width: 800px;
}

#exercise-page-body form label {
  font-weight: bold;
  font-size: 14px;
}

#exercise-page-body form select, #exercise-page-body form input {
  width: 40%;
  padding: 3px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0px;
  color: white;
  background-color: #153243;
}

.btn {
  background-color: #284B63;
  padding: 0px 5px;
  border: 2px solid gold;
  color: gold;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: gold;
  border: 2px solid #153243;
  color: #284B63;
}

th {
  border-right: 2px solid gold;
  border-radius: 10px;
  border-bottom: 2px solid gold;
  background-color: #153243;
  filter: drop-shadow(3px 3px 3px #B4B8AB);
}

td {
  padding: 10px 10px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 10px;
  background-color: #153243;
  filter: drop-shadow(3px 3px 3px #B4B8AB);
}

table {
  padding: 0px 10px;
}

.exercise-name {
  font-weight: 600;
  color: gold;
}

h3 {
  padding: 10px;
  text-align: center;
}

@media (max-width: 450px) {
  .note {
    display: none;
  }
  .secondary-muscle {
    display: none;
  }
  .main-muscle {
    display: none;
  }
}

@media (max-width: 650px) {
  .note {
    display: none;
  }
  .secondary-muscle {
    display: none;
  }
}

@media (max-width: 800px) {
  .note {
    display: none;
  }
}